ACTION=="remove", GOTO="private_rules_end"
SUBSYSTEM!="tty", GOTO="private_rules_end"

# ttyUSB should always be 0660
KERNELS=="ttyUSB[0-9]+", SUBSYSTEMS=="usb-serial", MODE="0660"

# Save bInterfaceNumber for use later
SUBSYSTEMS=="usb", ENV{ID_USB_INTERFACE_NUM}="$attr{bInterfaceNumber}"

# BeagleBone Black
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AD02CT1A", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="beagleboneblack"

# AM437x Starter Kit
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{serial}=="FTXJI2WA", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="am437sk"

# DRA7xx EVM
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A102S56R", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="dra7evm"

LABEL="private_rules_end"
