general {
        output_format = "i3bar"
        colors = true
        interval = 5
}

order += "cpu_temperature 1"
order += "cpu_temperature 2"
order += "cpu_temperature 3"
order += "cpu_temperature 4"
order += "cpu_temperature 5"
order += "tztime local"

cpu_temperature 1 {
        format = "T1: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp1_input"
}

cpu_temperature 2 {
        format = "T2: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp2_input"
}

cpu_temperature 3 {
        format = "T3: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp3_input"
}

cpu_temperature 4 {
        format = "T4: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp4_input"
}

cpu_temperature 5 {
        format = "T5: %degrees °C"
        path = "/sys/devices/platform/coretemp.0/hwmon/hwmon1/temp5_input"
}

tztime local {
        format = "%m-%d-%Y %H:%M:%S"
}

