ACTION=="remove", GOTO="private_rules_end"

# All USB devices should belong to group usb
SUBSYSTEMS=="usb", GROUP="usb", MODE="0660"

# Rules for better naming to USB Serial Devices I use on some boards.
#
# Note that these rules need constant(-ish) updates as I change boards
# and/or change jobs.

SUBSYSTEM!="tty", GOTO="private_rules_end"

# ttyUSB should always be 0660
KERNELS=="ttyUSB[0-9]+", SUBSYSTEMS=="usb-serial", MODE="0660"

# Save bInterfaceNumber for use later
SUBSYSTEMS=="usb", ENV{ID_USB_INTERFACE_NUM}="$attr{bInterfaceNumber}"

# BeagleBone Black
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AD02CT1A", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="beagleboneblack"

# AM437x Starter Kit
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{serial}=="FTYNARP0", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="am437sk"

# Beagle X15
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A9WZFX1L", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="beaglex15"

# AM437x IDK
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6010", ATTRS{serial}=="FTXY82UA", ENV{ID_USB_INTERFACE_NUM}=="01", SYMLINK+="am437idk"

# DRA7xx EVM
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A102S56R", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="dra7evm"

# DM3730 Overo
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="A102JMYX", ENV{ID_USB_INTERFACE_NUM}=="00", SYMLINK+="overo"

LABEL="private_rules_end"
