{{- $nu := lookPath "nu" -}}
# See the full configuration reference: https://rioterm.com/docs/config

# Dark theme (loaded from ~/.config/rio/themes/catppuccin-mocha.toml)
theme = "catppuccin-mocha"

[shell]
program = {{ if $nu }}{{ $nu | quote }}{{ else }}"nu"{{ end }}
args = ["--login"]

[fonts]
size = 14
family = "Aporetic Serif Mono"
